{% extends "home/navbar.html" %}

{% block content %}
    <main class="container my-4 main-wrapper">
        <section class="hero text-center py-5">
            <h1>Bards and Benders</h1>
            <p class="lead">A Custom Magic System for Dungeons and Dragons 5e, inspired by Viacom's <i>The Last Airbender</i> franchise.</p>
            <button class="btn btn-primary btn-lg">Get Started</button>
        </section>
        <section class="features row text-center my-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Character Creation</h5>
                        <p class="card-text">Design your ideal build, explore available moves, and track how your character will progress over time.</p>
                        <a href="#" class="btn btn-secondary">Start</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Campaign Rules</h5>
                        <p class="card-text">Learn the changes to the magic system.</p>
                        <a href="#" class="btn btn-secondary">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Game World</h5>
                        <p class="card-text">Explore the game world.</p>
                        <a href="#" class="btn btn-secondary">(Under Construction)</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}