{% extends "home/navbar.html" %}

{% load static %}
{% load filter %}

{% block content %}
        <section class="spell-filters text-center">
            <h1>Spells</h1>
            <div class="btn-group my-3" role="group">
                <button type="button" class="btn btn-secondary active">All Classes</button>
                {% for class in class_list %}
                <button type="button" class="btn btn-secondary">{{ class.name }}</button>
                {% endfor %}
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Search Spell Names">
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option selected>Select Spell Levels</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Healing, Utility, etc.">
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option selected>Select Casting Times</option>
                    </select>
                </div>
            </div>
        </section>
        <section class="spell-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Element</th>
                        <th>Discipline</th>
                        <th>Duration</th>
                        <th>Saving Throw</th>
                    </tr>
                </thead>
                <div id="table-body">
                    <tbody>
                        {% for form in form_page.object_list %}
                        <tr>
                            <td>{{ form.name }}</td>
                            <td>{{ form.element }}</td>
                            <td>{{ form.discipline.all | nl_listed }}</td>
                            <td>{{ form.duration }}</td>
                            <!-- <td>{{ form.range }}</td> -->
                            <td>{{ form.saving_throws.all | nl_listed }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </div>
            </table>

        </section>
    {% include 'home/pagination.html' %}

    <script src="{% static 'home/jquery-3.7.1.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        $(document).on('click', '.pagination a', function(e){
            e.preventDefault();
            var page = $(this).attr('href').split('page=')[1];
            $.ajax({
                url: '?page=' + page,
                success: function(data) {
                    var form_list = JSON.parse(data.form_list);
                    var tableBody = '';
                    for (var i = 0; i < form_list.length; i++) {
                        tableBody += '<tr> \
                            <td>' + form_list[i].fields.name + '</td> \
                            <td>' + form_list[i].fields.element + '</td> \
                            <td>' + 2 + '</td> \
                            <td>' + form_list[i].fields.duration + '</td> \
                            <!-- <td>' + form_list[i].fields.range + '</td> --> \
                            <td>' + 3 + '</td> \
                        </tr>'
            
            
                    }
                    console.log(tableBody)
                    $('#table-body').html(tableBody);

                    var paginationHtml = $(data.pagination_html);
                    $('#pagination-container').html(paginationHtml);
                }
            });
        });
    });
    </script>
{% endblock content %}
