{% extends "home/navbar.html" %}

{% load static %}
{% load filter %}

{% block content %}
        <section class="spell-filters text-center">
            <h1>Spells</h1>
            <div class="btn-group my-3" role="group">
                <button type="button" class="btn btn-secondary active">All Classes</button>
                {% for class in class_list %}
                <button type="button" class="btn btn-secondary">{{ class.name }}</button>
                {% endfor %}
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Search Spell Names">
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option selected>Select Spell Levels</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Healing, Utility, etc.">
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option selected>Select Casting Times</option>
                    </select>
                </div>
            </div>
        </section>
        <section class="spell-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Element</th>
                        <th>Discipline</th>
                        <th>Duration</th>
                        <th>Saving Throw</th>
                    </tr>
                </thead>
                    <tbody id="table-body">
                        {% include "forms/form_table.html" %}
                    </tbody>
                </div>
            </table>

        </section>
    {% include 'home/pagination_bar.html' %}

    <script src="{% static 'home/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'home/pagination.js' %}"></script>

{% endblock content %}
